@import "tailwindcss";


@theme {
  --color-primary: #00D4E9;
  --color-primary2: #16349D;
  --color-secondary: #10B981;
  --color-gradient1: #08b9d5;
  --color-gradient2: #D1D5DB;
  --color-header: #222223;
  --color-footer: #272A2F;
  --color-footerMenu: #1C1F24;
  --color-box: #222223;
  --color-input: #17181c;
  --color-purple: #B96BFC;
  --color-buttonBlue: #0053DE;
  --color-blueLight: #112a83;
  --color-blueDark: #00060a;
  --color-blueNeon: #15A3F9;
}
